<div class="container mb-3">
    <h2>PRIVACY POLICY</h2>
    <p>Welcome to <strong>MEA Auction</strong>, operated by Souk Direct Enterprises LLC. Your privacy is of utmost importance to us, and this Privacy Policy outlines how we collect, use, disclose, and protect your information when you use our website and services. By using our platform, you agree to the collection and use of your information as described in this policy.
    </p>

    <div *ngFor="let response of privacyContents; let i = index">
      <h3 class="section-title">{{i + 1}}. {{response.title}}</h3>
      <p [innerHTML]="formatContent(response.content)"></p>
    </div>
    
<div *ngIf="privacyContents">
      <p> <strong>Last Updated: {{privacyContents[0].createdAt | date}}</strong>
        </p></div>
        <p> By using MEA Auction, you acknowledge that you have read and understood this Privacy Policy and agree to its terms.
        </p>
      
</div>