<div style="margin: 75px;">
    <div class="food-beverages-eq">
        <h2> Food & Beverages Equipment Auction - Day 2</h2>
    </div>

    <div class="p-5 m-4 mt-5 d-flex justify-content-between" style="border: 2px solid #797979;">

        <div style="border: 1px solid #797979; width: 30%; height: 250px;">
            <img src="https://cdn.pixabay.com/photo/2019/03/01/18/52/house-4028391__340.jpg" alt="..."
                style="width: 350px; height: 250px;" />
        </div>

        <div class="text-start p-3" style="border: 1px solid #797979; width: 30%; height: 250px;">
            <div>
                <p>
                    2021 Hobart Model HL1400-1STD 140 Qt Planetary Mixer, S/N: 31-1612-407
                    New Mill Capital
                    2021 Hobart Model HL1400-1STD 140 Qt Planetary Mixer, S/N: 31-1612-407
                </p>
            </div>
            <div style="padding-top: 20px;">
                <button type="button" routerLink="/bid" >Add to Watchlist</button>
            </div>
        </div>

        <div class="p-2 curr-bid">
            <span class="d-flex align-items-center justify-content-between">
                <p id="current-bid">
                    Current Bid
                </p>
                <input id="inpt-sec" type="text" placeholder="00 USD">
            </span>
            <div class="mt-3 d-flex align-items-center justify-content-between">
                <input id="inpt-sec" type="text" placeholder="Max bid USD">
                <button class="btn btn-primary" type="button">BID</button>
            </div>
            <div class="mt-4">
                Additional Fees ?
            </div>
            <div class="mt-3">
                Ends in 1d 5h
            </div>
            <div class="d-flex justify-content-between mt-4">
                <div>
                    Location
                </div>
                <div>
                    Compton, Florida
                </div>
            </div>

        </div>
    </div>

    <!-- short by section start -->
    <div class="m-4 mt-5 d-flex text-center p-2" style="border: 2px solid #797979; margin-top: 20px;">
        <div class="d-flex align-items-center justify-content-start" style="width: 18%; padding-left: 15px;">

            <div style="padding-right: 21px;font-weight: 700;">
                SORT
            </div>
            <select>
                <option>RELEVANCE</option>
                <option>1</option>
                <option>2</option>
                <option>4</option>
                <option>5</option>
            </select>

        </div>

        <div style="width: 60%;"></div>

        <div class="d-flex" style="align-items: center; width: 10%; padding-right: 15px;">

            <div style="padding-right: 21px;font-weight: 700;">
                LIST
            </div>
            <div style="font-size: 28px;">
                <i class="bi bi-list-task"></i>
            </div>

        </div>

        <div class="d-flex" style="align-items: center;
            justify-content: end; width: 10%;">

            <div style="padding-right: 21px;font-weight: 700;">
                GRID
            </div>
            <div style="font-size: 28px; font-weight: 500;">
                <i class="bi bi-grid"></i>
            </div>

        </div>
    </div>
    <!-- short by section end -->

    <!-- pagination section start -->
    <div class="mx-5 mt-3" style="display: flex; justify-content: space-between; padding: 10px;">
        <div style="display: flex; align-items: center;">
            <div style="padding-right: 20px;">
                <p class="m-0" style="font-weight: 700;">1234 Item(s)</p>
            </div>
            <div>
                <select style="padding: 1px 26px 1px 10px;border-radius: 3px;">
                    <option>60</option>
                    <option>60</option>
                    <option>60</option>
                    <option>60</option>
                    <option>60</option>
                </select>
            </div>
        </div>

        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination m-0">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" style="border: none;
                    font-size: 27px;  color: black;">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" ><a class="page-link" href="#" style="border: none;
                    font-size: 20px; color: black;">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#" style="border: none;
                    font-size: 20px; color: black;">2</a>
                    </li>
                    <li class="page-item" ><a class="page-link" href="#" style="border: none;
                    font-size: 20px; color: black;">3</a>
                    </li>
                    <li class="page-item" style=" color: black;">
                        <a class="page-link" href="#" aria-label="Next" style="border: none;
                    font-size: 27px;  color: black;">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- pagination section end -->

    <!-- bid order section start -->
    <div class="p-5 m-4 mt-5 d-flex justify-content-between" style="border: 2px solid #797979;">

        <div style="border: 1px solid #797979; width: 30%; height: 250px;">
            <img src="https://cdn.pixabay.com/photo/2019/03/01/18/52/house-4028391__340.jpg" alt="..."
                style="width: 350px; height: 250px;" />
        </div>

        <div class="text-start p-3" style="border: 1px solid #797979; width: 30%; height: 250px;">
            <div>
                <p>
                    2021 Hobart Model HL1400-1STD 140 Qt Planetary Mixer, S/N: 31-1612-407
                    New Mill Capital
                    2021 Hobart Model HL1400-1STD 140 Qt Planetary Mixer, S/N: 31-1612-407
                </p>
            </div>
            <div style="padding-top: 20px;">
                <button type="button"routerLink="/bid">Add to Watchlist</button>
            </div>
        </div>

        <div class="p-2 curr-bid">
            <span class="d-flex align-items-center justify-content-between">
                <p id="current-bid">
                    Current Bid
                </p>
                <input id="inpt-sec" type="text" placeholder="00 USD">
            </span>
            <div class="mt-3 d-flex align-items-center justify-content-between">
                <input id="inpt-sec" type="text" placeholder="Max bid USD">
                <button class="btn btn-primary" type="button">BID</button>
            </div>
            <div class="mt-4">
                Additional Fees ?
            </div>
            <div class="mt-3">
                Ends in 1d 5h
            </div>
            <div class="d-flex justify-content-between mt-4">
                <div>
                    Location
                </div>
                <div>
                    Compton, Florida
                </div>
            </div>

        </div>
    </div>
    <!-- bid order section end -->

    <!-- bid order with caraosel start -->
    <div class="p-5 m-4 mt-5 d-flex justify-content-between" style="border: 2px solid #797979;">

        <div style="border: 1px solid #797979; width: 30%; height: 250px;">
            <img src="https://cdn.pixabay.com/photo/2019/03/01/18/52/house-4028391__340.jpg" alt="..."
                style="width: 350px; height: 250px;" />
        </div>

        <div class="text-start p-3" style="border: 1px solid #797979; width: 30%; height: 250px;">
            <div>
                <p>
                    2021 Hobart Model HL1400-1STD 140 Qt Planetary Mixer, S/N: 31-1612-407
                    New Mill Capital
                    2021 Hobart Model HL1400-1STD 140 Qt Planetary Mixer, S/N: 31-1612-407
                </p>
            </div>
            <div style="padding-top: 20px;">
                <button type="button"routerLink="/bid">Add to Watchlist</button>
            </div>
        </div>

        <div class="p-2 curr-bid">
            <span class="d-flex align-items-center justify-content-between">
                <p id="current-bid">
                    Current Bid
                </p>
                <input id="inpt-sec" type="text" placeholder="00 USD">
            </span>
            <div class="mt-3 d-flex align-items-center justify-content-between">
                <input id="inpt-sec" type="text" placeholder="Max bid USD">
                <button class="btn btn-primary" type="button">BID</button>
            </div>
            <div class="mt-4">
                Additional Fees ?
            </div>
            <div class="mt-3">
                Ends in 1d 5h
            </div>
            <div class="d-flex justify-content-between mt-4">
                <div>
                    Location
                </div>
                <div>
                    Compton, Florida
                </div>
            </div>

        </div>
    </div>
    <!-- bid order with caraosel end -->

    <!-- Recent View start -->
    <div class="m-4 mt-5" style="border: 2px solid #797979;">
        <div class="container rec-sec">
            <!--   <div class="card card-block mb-2">
        <h4 class="card-title">Card 1</h4>
        <p class="card-text">Welcom to bootstrap card styles</p>
        <a href="#" class="btn btn-primary">Submit</a>
      </div>   -->
            <!-- <div>
                <h5>Recently viewed Lots </h5>
                <p class="text-end"> <a href="" style="text-decoration: none;">Clear All</a></p>
            </div> -->
            <div class="d-flex justify-content-between align-items-center">
                <h5>Recently viewed Lots</h5>
                <p class="m-0"><a href="#" style="text-decoration: none;">Clear All</a></p>
            </div>
            
            <hr>
            <div class="row row-cols-1 row-cols-md-6 g-4">
                <div class="col">
                    <div class="card">
                        <i class="bi bi-x text-end"></i>
                        <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" class="card-img-top"
                            alt="..." style="padding: 20px;">
                        <div class="card-body">
                            <h6 class="card-title text-center">Hill- Rom progressa</h6>
                            <p class="card-text text-center">hospital bed</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card ">
                        <i class="bi bi-x text-end"></i>
                        <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" class="card-img-top"
                            alt="..." style="padding: 20px;">
                        <div class="card-body">
                            <h6 class="card-title text-center">Hill- Rom progressa</h6>
                            <p class="card-text text-center">hospital bed</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <i class="bi bi-x text-end"></i>
                        <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" class="card-img-top"
                            alt="..." style="padding: 20px;">
                        <div class="card-body">
                            <h6 class="card-title text-center">Hill- Rom progressa</h6>
                            <p class="card-text text-center">hospital bed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Recent View end -->

</div>