<footer class="footer bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 mt-4 col-lg-3 text-center text-sm-start">
                <div class="information">
                    <h6 class="footer-heading text-uppercase text-white fw-bold">Information</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li class="mb-1" (click)="navigateTo('/help')" style="cursor: pointer;">
                            <span class="text-white text-decoration-none fw-semibold">Help</span>
                        </li>
                        <li class="mb-1" (click)="openInNewTab('/how-to-sell')" style="cursor: pointer;">
                            <span class="text-white text-decoration-none fw-semibold">How to Sell</span>
                        </li>
                        <li class="mb-1" (click)="openInNewTab('/how-to-buy')" style="cursor: pointer;">
                            <span class="text-white text-decoration-none fw-semibold">How to Buy</span>
                        </li>                        
                    </ul>
                    
                    
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mt-4 col-lg-3 text-center text-sm-start">
                <div class="resources">
                    <h6 class="footer-heading text-uppercase text-white fw-bold">Resources</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li class="mb-1" (click)="openInNewTab('/aboutus')" style="cursor: pointer;">
                            <span class="text-white text-decoration-none fw-semibold">About Us</span>
                        </li>
                        <li class="mb-1" (click)="openInNewTab('/terms-condition')" style="cursor: pointer;">
                            <span class="text-white text-decoration-none fw-semibold">Terms and Conditions</span>
                        </li>
                        <li class="mb-1" (click)="openInNewTab('/privacy-policy')" style="cursor: pointer;">
                            <span class="text-white text-decoration-none fw-semibold">Privacy Policy</span>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mt-4 col-lg-2 text-center text-sm-start">
              <div class="social">
                  <h6 class="footer-heading text-uppercase text-white fw-bold">Social</h6>
                  <ul class="list-inline my-4">
                    <li class="list-inline-item"><a class="text-white btn-sm btn btn-primary mb-2"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a class="text-danger btn-sm btn btn-light mb-2"><i class="bi bi-instagram"></i></a></li>
                    <li class="list-inline-item"><a class="text-white btn-sm btn btn-primary mb-2"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a class="text-white btn-sm btn btn-success mb-2"><i class="bi bi-whatsapp"></i></a></li>
                </ul>
              </div>
          </div>
            <div class="col-sm-6 col-md-6 mt-4 col-lg-4 text-center text-sm-start">
              <div class="contact">
                  <h6 class="footer-heading text-uppercase text-white fw-bold">Contact Us</h6>
                  <address class="mt-4 m-0 text-white mb-1"><i class="bi bi-pin-map fw-semibold"></i> Souk Direct Enterprises, Sharjah Media City, Sharjah, UAE
                  </address>
                  <a href="tel:+" class="text-white mb-1 text-decoration-none d-block fw-semibold"><i class="bi bi-telephone"></i>  +971 50 641 0963</a>
                  <a href="tel:+" class="text-white mb-1 text-decoration-none d-block fw-semibold"><i class="bi bi-chat"></i>  WhatsApp: +971 50 641 0963</a>
              </div>
            </div>
        </div>
    </div>
    <div class="text-center bg-dark text-white mt-4 p-1">
        <p class="mb-0 fw-bold">2024 © Auction Bidding, All Rights Reserved</p>
    </div>
  </footer>