<div class="container mt-2" style="
max-width: 85%;
width: 100%;
padding: 30px;
border: 0px;
margin: 0px auto;
margin-top: 25px;
">
    <blockquote class="blockquote text-center">
        <h3>PURCHASE</h3>
        <h5>Pay for Items
        </h5>
    </blockquote>
    <hr style="margin: 0;">
    <div class="text-center">
        <img src="https://static.thenounproject.com/png/4814458-200.png" class="rounded w-10" alt="..." height="200">
    </div>
    <div class="card  w-50 mb-2" style="margin-left: auto;
    margin-right: auto;">
        <div class="card-body"  routerLink="/add-cards"> 
            <i class="bi bi-credit-card-2-back-fill"></i>   Credit Card 
           
        </div>
    </div>
    <div class="card w-50 mb-2 mt-2"style="margin-left: auto;
    margin-right: auto;">
        <div class="card-body"  routerLink="/add-cards">
            <i class="bi bi-credit-card-fill"></i>
            Debit Card
        </div>
    </div>
    <div class="card w-50 mb-2 mt-2"style="margin-left: auto;
    margin-right: auto;">
        <div class="card-body">
            <i class="bi bi-wallet-fill"></i>
            Use Wallet money
        </div>
    </div>
</div>
