<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 p-4">            
                <div class="mb-5">
                    <img src="../../../../../assets/default-image.jpg" alt="..."
                        class="w-100" height="200" />
                </div>

                <div class="card" style="background-color: #f8f9fa;">
                    <div class="card-body pe-5 ps-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center mt-2 mb-5">
                                    <img src="../../../../../assets/folder-icon.jpg" alt="..." style="width: 100px; height: 80px;" />
                                </div>
                                <div class="col d-flex align-items-center justify-content-center">
                                    <div>
                                        <p class="d-inline">Browse your files</p>
                                    </div>
                                    <label for="fileInput" class="custom-file-upload d-flex justify-content-end mb-3">
                                        <input type="file" id="fileInput" style="display:none;">
                                        <img src="../../../../../assets/plus-icon.jpg" alt="..." style="width: 30%; height: 30%;"
                                            class="ml-2" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-center mt-2 mb-4">
                        <div class="pe-4">
                            <p>Uploaded Successfully</p>
                        </div>
                        <div>
                           <img src="../../../../../assets/download-icon.jpg" alt="..." style="width: 30px; height: 30px;"/>
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
</div>