<section class="terms-section">
    <div class="container">
        <h2>Terms and Conditions</h2>
<p>Welcome to <strong>MEA Auction</strong>, operated by Souk Direct Enterprises LLC. By registering as a seller on our platform, you agree to the following terms and conditions. Please read them carefully before listing any items for sale.
</p>
        <div *ngFor="let response of termsContents; let i = index">
            <h3 class="section-title">{{i + 1}}. {{response.title}}</h3>
            <p>{{response.content}}</p>
          </div>
    </div>
</section>