<!-- start serach header -->
<div class="card text-center bg-light main-sec">
    <div class="card text-center bg-secondary main-sub-sec">

        <div class="card-body">
            <h2 class="card-title" style="margin-bottom: 30px; color: white;">Best Auction company on globe</h2>
            <div class="input-group rounded">
                <input type="search" class="form-control" placeholder="Search for" aria-label="Search"
                    aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon"><i class="bi bi-search"></i></span>
            </div>
        </div>
    </div>
</div>
<!-- end serach header -->

<!-- start item section -->
<div class="container my-4 recent-sec">
    <!-- start corausel -->
    <div class="container my-1 cor-sec">
        <div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <!-- carousel section start -->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="200">
                    <!-- <img src="https://cdn.pixabay.com/photo/2019/03/01/18/52/house-4028391__340.jpg" class="d-block w-100" alt="..."> -->

                    <!-- Instead of image, div with style and min-height -->
                    <div style="min-height: 160px;">
                        <div class="carousel-caption d-block">
                            <h5 class="pb-3">First slide label</h5>
                            <!-- <p>Some representative placeholder content for the first slide.</p> -->
                        </div>
                    </div>
                    <!-- end of div style min-height: 140px; -->
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <!-- Instead of image, div with style and min-height -->
                    <div style="min-height: 160px;">
                        <div class="carousel-caption d-block">
                            <h5 class="pb-3">Second slide label</h5>
                            <!-- <p>Some representative placeholder content for the second slide.</p> -->
                        </div>
                    </div><!-- end of div style min-height: 140px; -->
                </div>
                <div class="carousel-item">
                    <!-- Instead of image, div with style and min-height -->
                    <div style="min-height: 160px;">
                        <div class="carousel-caption d-block">
                            <h5 class="pb-3">Third slide label</h5>
                            <!-- <p>Some representative placeholder content for the third slide.</p> -->
                        </div>
                    </div><!-- end of div style min-height: 140px; -->
                </div>
            </div>
            <!-- carousel section end -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-6 border rounded py-3">
                <div>
                    <h4 class="m-0 ps-5 pb-4 item-txt-sec">xyz item</h4>
                </div>
                <div style="display: flex; justify-content: space-around;">
                    <div>
                        <div class="py-3">
                            <button type="button" class="btn btn-outline-secondary pe-3 ps-3 py-2">Set Opening Bid</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-secondary pe-3 ps-3 py-2">Set Reserve Price</button>
                        </div>
                        <div>
                            <p class="m-0 py-4 txt-sec">Additional Fees ?</p>
                        </div>
                        <div>
                            <p class="m-0 py-1 txt-sec">Ends in  1d  5h</p>
                        </div>
                    </div>
                    <div>
                        <div class="py-3">
                            <div class="col-md-6">
                                <input type="text" class="form-control" value="00 USD">
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary pe-3 ps-3 py-2 spe-bttn">SET BID PRICE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
           
        </div>
        
    </div>
    <!-- end corausel -->
</div>
<!-- end item section -->

<!-- start item section -->
<div class="container my-4 recent-sec">
    <!-- start corausel -->
    <div class="container my-1 cor-sec">
        <div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <!-- carousel section start -->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="200">
                    <!-- <img src="https://cdn.pixabay.com/photo/2019/03/01/18/52/house-4028391__340.jpg" class="d-block w-100" alt="..."> -->

                    <!-- Instead of image, div with style and min-height -->
                    <div style="min-height: 160px;">
                        <div class="carousel-caption d-block">
                            <h5 class="pb-3">First slide label</h5>
                            <!-- <p>Some representative placeholder content for the first slide.</p> -->
                        </div>
                    </div>
                    <!-- end of div style min-height: 140px; -->
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <!-- Instead of image, div with style and min-height -->
                    <div style="min-height: 160px;">
                        <div class="carousel-caption d-block">
                            <h5 class="pb-3">Second slide label</h5>
                            <!-- <p>Some representative placeholder content for the second slide.</p> -->
                        </div>
                    </div><!-- end of div style min-height: 140px; -->
                </div>
                <div class="carousel-item">
                    <!-- Instead of image, div with style and min-height -->
                    <div style="min-height: 160px;">
                        <div class="carousel-caption d-block">
                            <h5 class="pb-3">Third slide label</h5>
                            <!-- <p>Some representative placeholder content for the third slide.</p> -->
                        </div>
                    </div><!-- end of div style min-height: 140px; -->
                </div>
            </div>
            <!-- carousel section end -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-6 border rounded py-3">
                <div>
                    <h4 class="m-0 ps-5 pb-4 item-txt-sec">xyz item</h4>
                </div>
                <div style="display: flex; justify-content: space-around;">
                    <div>
                        <div class="py-3">
                            <button type="button" class="btn btn-outline-secondary pe-3 ps-3 py-2">Set Opening Bid</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-secondary pe-3 ps-3 py-2">Set Reserve Price</button>
                        </div>
                        <div>
                            <p class="m-0 py-4 txt-sec">Additional Fees ?</p>
                        </div>
                        <div>
                            <p class="m-0 py-1 txt-sec">Ends in  1d  5h</p>
                        </div>
                    </div>
                    <div>
                        <div class="py-3">
                            <div class="col-md-6">
                                <input type="text" class="form-control" value="00 USD">
                            </div>
                        </div>
                        <div>
                            <button type="button" routerLink="" class="btn btn-primary pe-3 ps-3 py-2 spe-bttn">SET BID PRICE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
           
        </div>
        
    </div>
    <!-- end corausel -->
</div>
<!-- end item section -->

<!-- start recent view -->
<div class="container mt-2 recent-sec">
    <div class="d-flex justify-content-between align-items-center">
        <h5>Recently viewed Lots</h5>
        <p class="m-0"><a href="#" style="text-decoration: none;">Clear All</a></p>
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
            <div class="card">
                <i class="bi bi-x text-end"></i>
                <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" class="card-img-top" alt="..."
                    style="padding: 20px;">
                <div class="card-body">
                    <h6 class="card-title text-center">Hill- Rom progressa</h6>
                    <p class="card-text text-center">hospital bed</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <i class="bi bi-x text-end"></i>
                <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" class="card-img-top" alt="..."
                    style="padding: 20px;">
                <div class="card-body">
                    <h6 class="card-title text-center">Hill- Rom progressa</h6>
                    <p class="card-text text-center">hospital bed</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <i class="bi bi-x text-end"></i>
                <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" class="card-img-top" alt="..."
                    style="padding: 20px;">
                <div class="card-body">
                    <h6 class="card-title text-center">Hill- Rom progressa</h6>
                    <p class="card-text text-center">hospital bed</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end recent view -->