.main-sec {
    margin: 0px;
    padding: 30px;
    border: 0px;
    margin: 0px auto;
    max-width: 85%;
    width: 100%;
    background-color: #033355 !important;
}

.main-sub-sec {
    max-width: 60%;
    width: 100%;
    padding: 30px;
    border: 0px;
    margin: 0px auto;
    background-color: #1B3C73 !important;
}

.cor-sec {
    background-color: white;
    width: 70%;
}

.item-txt-sec {
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}

.spe-bttn {
    font-weight: 700;
}

.recent-sec {
    background-color: #f8f9fa;
    max-width: 85%;
    width: 100%;
    padding: 30px;
    border: 0px;
    margin: 0px auto;
    margin-top: 25px;
}