<div aria-live="polite" aria-atomic="true" style="position: relative;">
  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1050;">
    <div class="toast" *ngIf="showToast" [ngClass]="{'show': showToast, 'hide': !showToast}" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">{{ toastTitle }}</strong>
        <small>{{ toastTime }}</small>
        <button type="button" class="btn-close" (click)="closeToast()" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ toastMessage }}
      </div>
    </div>
  </div>
</div>
