

<div class="container p-5 mt-2" style=" margin: 0px;
padding: 30px;
border: 0px;
margin: 0px auto;
max-width: 85%;
width: 100%;
background: #f8f9fa;" *ngIf="!isLoading">
  <div class="row  d-flex justify-content-around ">
    <div class="col-md-4 mb-4 mb-lg-0" *ngIf="dataArray && dataArray.uploadDocuments.length > 0">
      <div id="mainCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div *ngFor="let doc of dataArray.uploadDocuments; let i = index"
               [class.active]="i === 0" 
               class="carousel-item">
            <img [src]="doc.url" class="d-block w-100" alt="Product Image" height="350" />
          </div>
        </div>
        <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="thumbnail-container mt-2">
        <button *ngFor="let doc of dataArray.uploadDocuments; let i = index"
                class="thumbnail-item"
                type="button"
                data-bs-target="#mainCarousel"
                [attr.data-bs-slide-to]="i">
          <img [src]="doc.url" class="thumbnail-image" alt="Thumbnail Image" />
        </button>
      </div>
    </div>
    
    

    <div class="col-md-6 mb-4 mb-lg-0 bg-white pt-2">
      <div class="card mb-3" *ngIf="dataArray">
        <div class="card-header d-flex justify-content-between align-items-center" style="font-size: x-large; font-weight: 700;">
          <div class="d-flex align-items-center">
            <span>{{dataArray.productName}}</span>
            <button type="button" class="btn btn-primary btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
              View Product
            </button>
          </div>
          
          <i
            class="bi"
            [ngClass]="{
              'bi-heart-fill': dataArray.isWishlisted,
              'bi-heart': !dataArray.isWishlisted
            }"
            (click)="dataArray.isWishlisted ? removeProductFromWishlist(dataArray._id) : addProductToWishlist(dataArray._id)"
            [style.color]="dataArray.isWishlisted ? 'rgb(233, 19, 19)' : 'gray'"
            style="font-size: x-large; cursor: pointer;"
          ></i>
        </div>
        
        <div class="card-header">Current Bid
          <input type="text" readonly placeholder="  {{dataArray.currentBid | currency}}" class="w-25">
          {{dataArray.bids.length}} bids
        </div>
        <!-- <div class="card-header">Your Max Bid
          <input type="text" readonly placeholder="{{dataArray.currentBid+50}}" class="w-25">
          Place Bid
        </div> -->
        <div class="card-body">
          <p>Sales Tax: {{ dataArray.saleTax ? 'Yes' : 'No' }}</p>
          <p class="card-text">Buyer's Premium: {{ dataArray.buyerPremium ? 'Yes' : 'No' }}</p>
          
    
            <div class="countdown-container mb-4">
              <ul class="auction-details">
                <li><strong>End Date:</strong> {{ dataArray.endDate | date }}</li>  
                <!-- <li><strong>End Time:</strong> {{ dataArray.endTime }}</li> -->
              </ul>
            
              <div class="countdown">
                <p class="countdown-timer" *ngIf="dataArray.status === 'active'">
                 End - {{ timer }}
                </p>
                <p class="countdown-timer" *ngIf="dataArray.status !== 'active'">
                  {{dataArray.status}} - {{ timer }}
                </p>
              </div>
              <!-- <div  class="countdown">
                <p class="countdown-text">Auction not started yet.</p>
              </div> -->
            </div>
            <p class="card-text"><small class="text-muted">
              <form action="#!" [formGroup]="bidForm">
                <i class="bi bi-currency-dollar"></i>
                <input formControlName="bidAmount" type="number" min="0" class="w-25" [disabled]="dataArray.status === 'expired' || dataArray.status === 'Sold'">
                <button type="button" (click)="submit()" [disabled]="dataArray.status === 'expired' || dataArray.status === 'Sold'" class="btn btn-success m-2 btn-sm">Bid</button>
                   <span class="warning-message">
                  Next Bid: {{dataArray.nextValidBid  | currency}}
                </span>
              </form>
              
            </small></p>
            <div class="btn-toolbar justify-content-between">
              <div class="btn-group">
                <button *ngIf="dataArray.status === 'active'" type="button" style="font-size: larger;" class="btn btn-success" (click)="getproductByIdForBuyNow(dataArray._id)">
                  Buy Now <span class="badge badge-light" style="font-size: larger;">{{dataArray.buyNowPrice | currency}}</span>
                </button>
              </div>
              <div class="btn-group">
                <button *ngIf="dataArray.status === 'expired'" (click)="getproductByIdForCheckout(dataArray._id)" type="button" class="btn btn-warning btn-sm m-2">Checkout</button>
              </div>
            </div>
            

          <!-- product detail modal -->
          <!-- Button trigger modal -->


          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-xl">
              <div class="modal-content">
                <div class="modal-body">
                  <form [formGroup]="proForm">

                    <!-- Submitted Product Details -->
                    <div *ngIf="dataArray" class="container mt-5">
                      <div class="card">
                        <div class="card-header text-center">
                          <h2>Product Details</h2>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-6">
                              <p><strong>Product Name:</strong> {{ dataArray.productName }}</p>
                              <p><strong>Category:</strong> {{ dataArray.category }}</p>
                              <p><strong>Color:</strong> {{ dataArray.color }}</p>
                              <p><strong>Description:</strong> {{ dataArray.productDescription }}</p>
                              <p><strong>Condition:</strong> {{ dataArray.productCondition }}</p>
                              <p><strong>Brand:</strong> {{ dataArray.brand }}</p>
                              <!-- <p><strong>Starting Price:</strong> {{ dataArray.startingPrice }}</p>
                              <p><strong>Reserve Price:</strong> {{ dataArray.reservePrice }}</p> -->
                              <p><strong>Sale Tax:</strong> {{ dataArray.saleTax ? 'Yes' : 'No' }}</p>
                              <!-- <p><strong>Start Date:</strong> {{ dataArray.startDate | date }}</p> -->
                              <p><strong>End Date:</strong> {{ dataArray.endDate | date }}</p>
                              <!-- <p><strong>Start Time:</strong> {{ dataArray.startTime }}</p> -->
                              <p><strong>Stop Time:</strong> {{ dataArray.stopTime }}</p>
                              <p><strong>Address:</strong> {{ dataArray.address }}</p>
                              <p><strong>Town:</strong> {{ dataArray.town }}</p>
                              <p><strong>Country:</strong> {{ dataArray.country }}</p>
                              <div class="col-md-6">
                                <div class="card" *ngFor="let image of dataArray.uploadDocuments">
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Product Image</h5>
                                    <div class="text-center">
                                      <img [src]="image.url" class="img-fluid img-thumbnail" alt="Product Image">
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading">
  <app-loader></app-loader>  <!-- Loader shown when isLoading is true -->
</div>

<div class="container text-center mt-2 mb-2" style="width: 46%; background-color: #f8f9fa;" *ngIf="!isLoading">
  <div class="buyer-container mb-3 mx-auto"
  *ngIf="dataArray && dataArray.bids && dataArray.bids.length; else noData">
    <h4 class="m-0 mb-5">Last Bidder </h4>
    <div class="buyer-info d-flex justify-content-around" *ngFor="let buyer of dataArray.bids">
      <p class="m-0"><strong>Username:</strong> {{buyer.username}}</p>
      <p class="m-0"><strong>Amount:</strong> {{buyer.amount | currency}}</p>
    </div>
  </div>
</div>
<ng-template #noData>
  <div>
    <h4 class="m-0 mb-5">Last Bidder </h4>
    You will be the first one
  </div>
</ng-template>
