<div class="container mt-5">
    <h1 class="text-center mb-4">Help & Support</h1>
    <p>Welcome to the MEA Auction Help & Support page! We're here to ensure that your experience with our platform is smooth and trouble-free. Whether you’re a buyer looking to place a bid or a seller listing an item, you’ll find answers to common questions and guidance on using our services here. If you need further assistance, our support team is always ready to help.
    </p>

    <!-- FAQ Section -->
    <div class="accordion" id="faqAccordion">
        <div *ngFor="let content of helpContents; let i = index" class="accordion-item">
            <h2 class="accordion-header" [id]="'heading' + i">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
                    {{ content.title }}
                </button>
            </h2>
            <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    <p [innerHTML]="formatContent(content.content)"></p>
                </div>
            </div>
        </div>
    </div>
    
    

    <!-- Contact Us Form -->
    <div class="mt-5">
        <h2>Contact Us</h2>
        <div class="contact-form">
            <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input formControlName="name"type="text" class="form-control" id="name" placeholder="Your name" required>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="subject" class="form-label">Subject</label>
                        <input formControlName="subject" type="text" class="form-control" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="col-md-6">
                        <label for="message" class="form-label">Message</label>
                        <textarea formControlName="message" class="form-control" id="message" rows="4" placeholder="Your message" required></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <p class="mt-5">We are dedicated to making your experience on MEA Auction as seamless as possible. If you have any questions or need assistance, don’t hesitate to reach out. Happy buying and selling!
    </p>
</div>